:root {
  // colors

  --white: #fff;
  --grey-1: #999;
  --grey-2: #f4f2f2;
  --grey-3: #a1a1a1;
  --grey-4: #ccc;
  --grey-5: #e6e6e6;
  --grey-6: #aeafb4;
  --blue-1: #1ea2b1;
  --blue-2: #4267b2;
  --blue-3: #dcdde3;
  --input-border: #8f9192;
  --input-border-hover: #39393a;
  --red-1: #ea1b0a;
  --red-2: #d51607;
  --red-3: #b00402;
  --green: #2e844a;
  --black: #000000d9;
  --header-height: calc(50px + env(safe-area-inset-top));

  // font
  --poppins: 'Poppins', 'sans-serif';
  --inter: 'Inter', 'sans-serif';
}
