.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: var(--blue-1);
  margin-top: 50px;
  gap: 25px;
  padding: 8px;
  text-align: center;
}
